.app--container {
	margin: 0.2rem 1rem;
	font-size: 1.4rem;
}
.list--item {
	display: flex;
	gap: 0.5rem;
	cursor: pointer;
	margin: 0.5rem;
}

.list--item:hover {
	color: rgb(120, 211, 247);
}
.close--icon:before {
	content: '<';
	width: 1px;
}
.open--icon:before {
	content: '>';
	width: 1px;
}

.list--item__label::first-letter {
	text-transform: uppercase;
}
.flex-container {
	display: flex;
}
